#page-container {
    margin-top: 2em;
    margin-bottom: 4em;
    width: 830px !important;
}

#error-message-id {
    display: none;
}

#sponsors div {
    margin: 5px;
}

.sponsors {
    display: inline-block;
}

hr {
    border-top-width: 2px !important;
}

.pager a {
    padding: 2px 10px !important;
}