/* container -divin kekitys */
body {
    text-align: center;
    padding-top: 1em;
}
body div {
    text-align: left;
}

#page-container {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 6em;
}

/* Piilotetaan oletuksena virheviesti */
#error-message-id {
    display: none;
    position: fixed;
    width: 800px;
}

/* Pakotetaan otsikon kuvat vierekkäin, tekemällä niistä kelluvia. */
.header-img {
    float: left;
}