#page-container {
    margin-top: 2em;
    margin-bottom: 4em;
    width: 830px !important;
}

#error-message-id {
    display: none;
}

#header div:first-child {
    float: left;
}

#header div:last-child {
    float: right;
}